<div class="container mt-4" >
    <div class="row row-cols-2">
        <div class="col ">
            <div class="card">
                <img src="https://backend.mamamiaviena.com/storage/img/1plvVhBrnD6c6obM2XxIVdw740nhii1XsrvAI4VC.jpg" class="card-img-top custom-card-img" alt="Imagen 1">
                <div class="card-body">
                    <h5 class="card-title">Card 1</h5>
                    <p class="card-text">Contenido de la card 1.</p>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card ">
                <img src="https://backend.mamamiaviena.com/storage/img/Cuore%20di%20artista.jpeg" class="card-img-top custom-card-img" alt="Imagen 2">
                <div class="card-body">
                    <h5 class="card-title">Card 2</h5>
                    <p class="card-text">Contenido de la card 2.</p>
                </div>
            </div>
        </div>
    </div>
</div>